<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676141260192-o2r7hg7j7btf7db8qj7jcdlo1q78000l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676141260192-o2r7hg7j7btf7db8qj7jcdlo1q78000l</string>
	<key>API_KEY</key>
	<string>AIzaSyASPJJBUh5an9-lUtBjAfXQ5Aj5OUJ6dKk</string>
	<key>GCM_SENDER_ID</key>
	<string>676141260192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softcode.school-management-system</string>
	<key>PROJECT_ID</key>
	<string>smsystem-f1b71</string>
	<key>STORAGE_BUCKET</key>
	<string>smsystem-f1b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676141260192:ios:550f5c9657148ec30618c5</string>
</dict>
</plist>